<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      8Gag
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let post of _cap.imagenes">
    <img [src]="post.img">
    <ion-card-content>
      <ion-card-title>
        {{post.titulo}}
      </ion-card-title>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-left>
          <ion-icon name="share-alt"></ion-icon>
          Compartir
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="mostarModal()" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hayMas" >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
