<ion-header>

  <ion-navbar >

    <ion-buttons >
      <button ion-button (click)="cerrarModal()">
        Cerrar
      </button>
    </ion-buttons>

    <ion-title>{{titulo | placeHolder:'Crear nuevo post'}}</ion-title>

    <ion-buttons >
      <button [disabled]="titulo.length <= 0 || imagenPreview.length <= 0"  ion-button (click)="crearPost()" end>
        Crear post
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>
        Titulo
      </ion-label>
      <ion-input type="text" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item *ngIf="imagenPreview">
      <img [src]="imagenPreview">
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>

      <ion-col>
        <button ion-button item-left block>
          <ion-icon name="photos" (click)="seleccionarFoto()" >&nbsp;Seleccionar</ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button item-left block>
          <ion-icon name="camera" (click)="mostrarCamara()">&nbsp;Cámara</ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
